/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $red.base
  accent: $red.base
  secondary: $red.base
  info: $red.base
  warning: $red.base
  error:$red.base
  success: $red.base
}

@require '../../node_modules/vuetify/src/stylus/main'
